namespace COMP003B.LectureActivity2.Views.Shared
{
    public class _Sidebar
    {
        <div class=sidebar"">
            <ul>
                <li><a href="/Profile/About">></a></li>
                <li><a></a></li>
            </ul>
        </div>
    }
}
